h1 {
  text-align: center;
}

.intro {
  text-align: center;
  padding-top: 20px;


}

.shadow {
  text-shadow: 1px 1px #000;
  color: blue;
}
.bold {
  text-decoration: underline;
  color: cyan;
  text-shadow: 1px 1px #000
}

.border {
  border: 2px solid black !important;
}

.border2 {
  border: 5px dashed black !important;
}
